/* Grid cell */

.cell {
  display: flex;
  border: 1px solid #efefef;
  height: 60px;
  width: 60px;
}

.cell span {
  text-align: center;
  width: 100%;
  line-height: 62px;
  font-size: 18px;
}

.cell.m {
  color: #fff;
  background-color: #444;
}

.cell.t {
  background-color: #ffd700;
}

.cell.a {
  background-color: #32cd32;
}
