/* Treasure map */

h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

.data-wrapper {
  display: inline-block;
  vertical-align: top;
}

.map-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
}

.leaderboard-wrapper {
  margin-top: 40px;
}
